<table border=1>
<tr>
	<% @projects.each do |pid|%>
		<%@iteration = Iteration.all %>
		<td>	
			<%= pid.name %>		<br>
				<% @iteration = Iteration.all(:conditions => {:project_id => pid.id}) %>
				<% @iteration.each do |b| %>
					<%= b.name %><br>
				<% end %> 
		</td>
	<%end%>
</tr>
